<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32310">
		<setting id="appearance.alt" type="action" label="32311" default="Kratos" option="close" action="RunPlugin(plugin://plugin.video.kratos/?action=artwork)" visible="!System.HasAddon(script.kratos.artwork)" />
		<setting id="appearance.1" type="select" label="32311" values="-|Kratos" default="Kratos" visible="System.HasAddon(script.kratos.artwork)" />
		<setting id="scrapers.timeout.1" type="slider" label="32312" default="7" range="02,60" option="int" />
		<setting id="trakt.user" type="text" default="" visible="false" />
		<setting id="indicators.alt" type="enum" label="32313" lvalues="32314|32315" default="1" visible="!eq(-1,)" />
		<setting id="indicators" type="enum" label="32313" lvalues="32314" default="0" visible="eq(-2,)" />
		<setting id="api.language" type="select" label="32316" values="English" default="AUTO" />
		<setting id="providers.lang" type="select" label="32360" values="English" default="English" />
		<setting id="flatten.tvshows" type="bool" label="32317" default="false" />
		<setting id="fanart" type="bool" label="32318" default="true" />
		<setting type="lsep" label="32319" />
		<setting id="movie.widget" type="enum" label="32320" lvalues="32302|32321|32322|32323|32324" default="1" />
		<setting id="tv.widget.alt" type="enum" label="32325" lvalues="32302|32326|32327|32328" default="2" visible="!eq(-9,)+eq(-8,1)" />
		<setting id="tv.widget" type="enum" label="32325" lvalues="32302|32326" default="1" visible="eq(-10,)|eq(-9,0)" />
		<setting id="lists.widget" type="enum" label="32329" lvalues="32302|32301" default="1" />
	</category>
	<category label="32330">
		<setting id="hosts.mode" type="enum" label="32331" lvalues="32332|32333|32334" default="2" />
		<setting id="progress.dialog" type="enum" label="32335" lvalues="32336|32337" default="0" />
		<setting type="lsep" label="32338" />
		<setting id="hosts.quality" type="enum" label="32339" values="4K|1440p|1080p|720p|480p" default="0" />
		<setting id="autoplay.sd" type="bool" label="32340" default="false" />
		<setting id="hosts.captcha" type="bool" label="32341" default="false" />
		<setting id="hosts.sort.provider" type="bool" label="32342" default="false" />
		<setting type="lsep" label="32343" />
		<setting id="bookmarks" type="bool" label="32344" default="true" />
	</category>
	<category label="32345">
		<setting id="provider.dayt" type="bool" label="DAYT" default="true" />
		<setting id="provider.movieshd" type="bool" label="MOVIESHD" default="true" />
		<setting id="provider.onseries" type="bool" label="ONSERIES" default="true" />
		<setting id="provider.primewire" type="bool" label="PRIMEWIRE" default="true" />
		<setting id="provider.projectfree" type="bool" label="PROJECTFREE" default="true" />
		<setting id="provider.putlocker" type="bool" label="PUTLOCKER" default="true" />
		<setting id="provider.watchfree" type="bool" label="WATCHFREE" default="true" />
		<setting id="provider.xmovies" type="bool" label="XMOVIES" default="true" />
		<setting id="provider.ymovies" type="bool" label="YMOVIES" default="true" />
	</category>
	<category label="32346">
		<setting type="lsep" label="Trakt" />
		<setting id="trakt.user" type="action" label="32306" option="close" action="RunPlugin(plugin://plugin.video.kratos/?action=authTrakt)" />
		<setting id="trakt.token" type="text" option="hidden" visible="false" label="" default="" />
		<setting id="trakt.refresh" type="text" option="hidden" visible="false" label="" default="" />
		<setting type="sep" />
		<setting type="lsep" label="RealDebrid" />
		<setting id="realdebrid.auth" type="action" option="close" label="32306" action="RunPlugin(plugin://plugin.video.kratos/?action=rdAuthorize)" />
		<setting id="realdebrid.id" type="text" option="hidden" visible="false" label="" default="" />
		<setting id="realdebrid.secret" type="text" option="hidden" visible="false" label="" default="" />
		<setting id="realdebrid.token" type="text" option="hidden" visible="false" label="" default="" />
		<setting id="realdebrid.refresh" type="text" option="hidden" visible="false" label="" default="" />
		<setting type="sep" />
		<setting type="lsep" label="TMDb" />
		<setting id="tm.user" type="text" option="hidden" label="32309" default="" />
		<setting type="sep" />
		<setting type="lsep" label="IMDb" />
		<setting id="imdb.user" type="text" label="32303" default="" />
		<setting type="sep" />
	</category>

</settings>
