<settings>
    <setting id="check_interval" value="6" />
    <setting id="check_interval_m3u" value="5" />
    <setting id="file_name" value="anonymous" />
    <setting id="file_name_lists" value="anonymous" />
    <setting id="l1" value="true" />
    <setting id="l1-loc" value="" />
    <setting id="l1-type" value="1" />
    <setting id="l1-url" value="https://raw.githubusercontent.com/hadjistyllis/myapp/master/TV%20country.m3u" />
    <setting id="l2" value="true" />
    <setting id="l2-loc" value="" />
    <setting id="l2-type" value="1" />
    <setting id="l2-url" value="https://raw.githubusercontent.com/Crazycook/Working/master/working.m3u" />
    <setting id="l3" value="true" />
    <setting id="l3-loc" value="" />
    <setting id="l3-type" value="1" />
    <setting id="l3-url" value="https://raw.githubusercontent.com/rubence/LiveBanglaTV/master/m3u" />
    <setting id="l4" value="true" />
    <setting id="l4-loc" value="" />
    <setting id="l4-type" value="1" />
    <setting id="l4-url" value="https://raw.githubusercontent.com/obliqik/iptv/b3a53b4fd91a4fa45fe641262ec0dc6eb66a990f/usa.m3u" />
    <setting id="l5" value="true" />
    <setting id="l5-loc" value="" />
    <setting id="l5-type" value="1" />
    <setting id="l5-url" value="https://raw.githubusercontent.com/djflako/flako-tv/master/m3u/usa%20tv..m3u" />
    <setting id="last_merge" value="2017-01-12 21:51:04.036000" />
    <setting id="last_merge_m3u" value="2017-01-12 21:51:05.078000" />
    <setting id="merge_epgs_lists_now" value="" />
    <setting id="merge_epgs_now" value="" />
    <setting id="merge_lists_now" value="" />
    <setting id="output_folder" value="special://home" />
    <setting id="restart_pvr" value="" />
    <setting id="xmltv1" value="" />
    <setting id="xmltv10" value="" />
    <setting id="xmltv11" value="" />
    <setting id="xmltv2" value="" />
    <setting id="xmltv3" value="" />
    <setting id="xmltv4" value="" />
    <setting id="xmltv5" value="" />
    <setting id="xmltv6" value="" />
    <setting id="xmltv7" value="" />
    <setting id="xmltv8" value="" />
    <setting id="xmltv9" value="" />
</settings>
